<div id="sidebar" class="sidebar">
    <div id="toggle-sidebar" class="toggle-sidebar">...</div>

    <h3 class="blog-header">
        <a href="/blog" title="Gå till bloggöversikten">Blogg</a>
    </h3>

    <ul class="blog-overview">
        <li>
            <span class="blog-overview-element">Senaste inlägg</span>
            <ul class="blog-overview-submenu">
                {% for post in site.posts offset: 0 limit: 5 %}
                <li>
                    <a href="{{ post.url }}" title="Gå till blogg inlägget {{ post.title }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <!--
        <li>
            <span class="blog-overview-element">Kategorier</span>
            <ul class="blog-overview-submenu">
                {% for category in site.categories %}
                <li>
                    {{ category | first }}
                </li>
                {% endfor %}
            </ul>
        </li>
        -->
    </ul>
</div>
